.toDatePicker {
    /*
    nu e responsive partea de calendare, trebuie adaugat media query cred
    */
    /*position: absolute;*/
    /*left: 23%*/
}

.filterButton {
    width: 40%
}

.cancelButton {
    width: 40%;
}

.state {
    position: absolute;
    top: 5%
}
