.main {
    position: absolute;
    top: 20%;
    left: 15%
}

.details {
    position: absolute;
    top: 165%;
}

.buttons {
    position: absolute;
    top: 240%
}

.mainImage {
    padding: 2px;
    background-color: black;
    height: 20rem;
    width: 25rem;
    border-radius: 5%
}

.secondImage {
    position: absolute;
    padding: 2px;
    background-color: black;
    top: 102%;
    left: 0;
    height: 10rem;
    width: 12rem;
    border-radius: 5%;
}

.thirdImage {
    position: absolute;
    padding: 2px;
    background-color: black;
    top: 102%;
    left: 50%;
    height: 10rem;
    width: 12rem;
    border-radius: 5%;
}

.map {
    position: absolute;
    top: 0;
    left: 105%;
}