.wrapper {
  position: absolute;
  top: 4.5rem;
  right: 0.7rem;
  z-index: 999;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.title {
  font-weight: bold;
  text-decoration-line: underline;
  margin-bottom: 0.5rem;
}

.field {
  padding-top: 0.1rem;
  column-gap: 0.375;
  align-items: center;
  display: flex;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.2rem;
}
