.slick-slide {
    margin: 0 27px;
}

.slick-list {
    margin: 0 -27px;
}

.sliderImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.sliderContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.slider {
    border: 5px solid #fff;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    height: 350px;
}

.sliderTop > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}