.card {
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2); */
  /* border-radius: 5px; */
  /* display: flex;
  flex-wrap: wrap; */
  width: 30%;
  margin: 10px 10px 10px 10px;
  /* height: 45vh; */
}

.maincard {
  padding: 10px;
  /* margin: auto; */
  /* margin: 10px 10px 10px 10px; */
  width: 100%;
  border-radius: 20px;
}

.uppercard span {
  /* padding: 1rem; */
  margin: 10px;
  font-weight: bold;
}

.uppercard section {
  display: inline;
  padding: 0 15% 10% 0;
  font-size: small;
}

.state {
  padding: 4px;
  background-color: #BE6858;
  border-radius: 15px;
  font-size: small;
  color: white
}

.cardbody {
  /* display: inline; */
  position: relative;
}

.date {
  position: absolute;
  bottom: 9rem;
  right: 3px;
}
